<technical>
  {# 4.1 Format #}
  {% if record.technical.formats|default %}
    {% for format in record.technical.formats %}
      <format>{{ format }}</format>
      {#################    OR     ###############}
      <lom:format>{{ format }}</lom:format>
    {% endfor %}
  {% endif %}
  {# 4.2 Size #}
  {% if record.technical.size|default %}
    <size>record.technical.size</size>
  {% endif %}
  {# 4.3 Location #}
  {% for location in record.technical.locations %}
    <location>{{ location.location }}</location>
    {# 4.3.1 Extended Location #}
    {% if location.extendedLocations|default %}
      {% for extendedLocation in location.extendedLocations %}
        <scolomfr:extendedLocation>
          {# 4.3.1.1 Location #}
          <scolomfr:location>{{ extendedLocation.location }}</scolomfr:location>
          {# 4.3.1.2 Plateform #}
          <scolomfr:platform>{{ extendedLocation.platform }}</scolomfr:platform>
          {# 4.3.1.3 Personal Data Process Type #}
          <scolomfr:personalDataProcessType>
            <scolomfr:source>{{ extendedLocation.personalDataProcessType.source }}</scolomfr:source>
            <scolomfr:value>{{ extendedLocation.personalDataProcessType.value }}</scolomfr:value>
            <scolomfr:label>{{ extendedLocation.personalDataProcessType.label }}</scolomfr:label>
          </scolomfr:personalDataProcessType>
          {# 4.3.1.4 Description #}
          {% if extendedLocation.description|default %}
            <description>
              <string language="{{ extendedLocation.description.language }}" >{{ extendedLocation.description.value }}</string>
            </description>
          {% endif %}
        </scolomfr:extendedLocation>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {# 4.4 Requirements #}
  {% if record.technical.requirements|default %}
    {% for requirement in record.technical.requirements %}
      <requirement>
        <orComposite>
          {% if requirement.type|default %}
            <type>
              <source>{{ requirement.type.source }}</source>
              <value>{{ requirement.type.value }}</value>
              <label>{{ requirement.type.label }}</label>
            </type>
          {% endif %}
          {% if requirement.name|default %}
            <name>
              <source>{{ requirement.name.source }}</source>
              <value>{{ requirement.name.value }}</value>
              <label>{{ requirement.name.label }}</label>
            </name>
          {% endif %}
          {% if requirement.minimumVersion|default %}
            <minimumVersion>{{ requirement.minimumVersion }}</minimumVersion>
          {% endif %}
          {% if requirement.maximumVersion|default %}
            <maximumVersion>{{ requirement.maximumVersion }}</maximumVersion>
          {% endif %}
        </orComposite>
      </requirement>
    {% endfor %}
  {% endif %}
  {# 4.5 Installation Remarks #}
  {% if record.technical.installationRemarks|default %}
    <installationRemarks>
      <string language="{{ record.technical.installationRemarks.language }}" >{{ record.technical.installationRemarks.value }}</string>
    </installationRemarks>
  {% endif %}
  {# 4.6 Others requirements #}
  {% if record.technical.otherPlatformRequirements|default %}
    <otherPlatformRequirements>
      <string language="{{ record.technical.otherPlatformRequirements.language }}" >{{ record.technical.otherPlatformRequirements.value }}</string>
    </otherPlatformRequirements>
  {% endif %}
  {# 4.7 Duration #}
  {% if record.technical.duration|default %}
    <duration>{{ record.technical.duration }}</duration>
  {% endif %}
</technical>